<%- include ../partials/header.ejs %>

<%- include ../partials/content.ejs %>

<!-- content for the edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8">

            <h1>Edit contact info</h1>

            <form class="form" method="post">
                <div class="form-group">
                    <label for="nameTextField">Contact Name</label>
                    <input type="text" class="form-control"
                        id="nameTextField"
                        placeholder="Enter the Contact Name"
                        name="name" required>
                </div>

                <div class="form-group">
                    <label for="authorTextField">Contact Number</label>
                    <input type="text" class="form-control"
                        id="authorTextField"
                        placeholder="Enter the contact number"
                        name="contactnum" required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">Email address</label>
                    <input type="text" class="form-control"
                        id="publishedTextField"
                        placeholder="Enter the contact email"
                        name="email" required>
                </div>

                <button class="btn btn-info" type="submit">
                    <i class="fas fa-address-card"></i></i> Submit
                </button>

                <a href="/contact-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel
                </a>
            </form>
        </div>

    </div>

</div>

<%- include ../partials/footer.ejs %>