<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>About Me</title>
    <link rel = "stylesheet" href="assests/content/app.css">
</head>
<body>
    <h1>Sungmin Lee</h1><br>
    <img src="assests/images/My_Image.jpg" width="300", height="300"><br>
    <h2>Hello! I'm from South Korea studying software engineering!</h2><br><br>
    <a href="assests/Resume.pdf"><h1>Click here to view my resume</h1></a>
    <script src="assets/scripts/app.js" async defer></script>
</body>
</html>