  <!-- Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="/scripts/app.js"></script>
</body>
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy; Copyright <%= (new Date()).getFullYear() %>. All Rights Reserved.</h6>
    </nav>
  </footer>

</html>