<!Doctype Html>  
<html>     
<Head>      
    <meta charset="utf-8">
    <Title>Home_Page</Title>  
    <link rel = "stylesheet" href="assests/content/app.css">
</Head>  
<Body>   
<h1>Welcome to my homepage! <br><br>
       <em>Act with a honesty to get confidence</em><br><br>
    Click the button below to move about me!<br><br><br>
    <a href="About"><img src="assests/images/button.PNG"></a></h1><br><br>
    <script src="assets/scripts/app.js" async defer></script>
</Body>   
</html>  