<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Projects_Page</title>
    <link rel = "stylesheet" href="assests/content/app.css">
</head>
<body>
    
    <h1>Express Portfolio</h1><br>
    <h2>    - Using javascript, html, css, ExpressJS, NodeJS to design project webpage<br>
        - Split to use different View templates and partials by implementing the EJS templating engine<br>
        <img src="assests/images/Project_1.PNG" width="800", height="470"><br>
    </h2>
    <h1>Household account book</h1><br>
    <h2>
        - Using SQL to establish Household account book<br>
        - Using C# to build an application program inquiries the database<br><br>
        <img src="assests/images/Project_2.1.PNG" width = "400", height="400"><br>
        <img src="assests/images/Project_2.2.PNG" width="600", height="450"><br>
        <h1>Account inquiry</h1><h2>
        - Using C# to build an application program that allows users to add account information or inquiry of information created.<br></h2>
        <img src="assests/images/Project_3.PNG" width ="600", height="450">

    </h2>
    <script src="assets/scripts/app.js" async defer></script>
</body>







</html>