<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Services</title>
    <link rel = "stylesheet" href="assests/content/app.css">
</head>
<body>
    
    <h1>List of services available</h1><br>
    <h2>- General Programming <br>
        - Web Development <br>
        - Database management <br>
        - Backend Development <br>
    </h2>

    <script src="assets/scripts/app.js" async defer></script>
</body>







</html>