<%- include partials/header.ejs %>

<%- include partials/content.ejs %>
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>

    </div>
  </main>
<%- include partials/footer.ejs %>
