<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>You're in Services page</title>
    <link rel = "stylesheet" href="../content/app.css">
</head>
<body>
    <header>  
        <nav>  
            <ul>  
                <li>  
                    <a href="Home_Page.html">Home </a>  
                </li>  
                <li>  
                    <a href="About_Me.html">About Me</a>  
                </li>  
                <li>  
                    <a href="Projects_Page.html">Projects</a>  
                </li>  
                <li> 
                    <a href="Services_Page.html">Services</a>  
                </li>  
                <li>  
                    <a href="Contact_Me.html">Contact me</a>  
                </li>  
                <li>
    
                </li>
            </ul>  
        </nav>  
        <img src="images/logo.PNG" alt="Logo" width="100" height="70">
    </header> 
    <h1>List of services available</h1><br>
    <h2>- General Programming <br>
        - Web Development <br>
        - Database management <br>
        - Backend Development <br>
    </h2>

    <script src="../scripts/app.js" async defer></script>
</body>







</html>